.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.word-suggestions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

.input-box {
  height: 50px;
  width: 50px;
  margin: 0 2% 5%;
  font-size: 100%;
  text-align: center;
}

.input-box-unmatched {
  height: 50px;
  width: 40%;
  font-size: 100%;
}

.submit-btn {
  height: 50px;
  width: 100px;
  margin-top: 3%;
  font-weight: 900;
  font-size: 1.2rem;
}

.second-text {
  width: 60%;
  margin: 0 auto 3%;

}